*{
    font-family: 'Montserrat', sans-serif;
}
.details-header-img{
    height: 60%;
    margin: auto;
}
.leagueDetailsHeader{
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url("https://www.thesportsdb.com/images/media/team/stadium/w1anwa1588432105.jpg");
    height: 400px;
    margin-bottom: 50px;
}
.gender-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.clubinfo-div{
    color: white;
    background-color: #3a42ff;
    margin: 0px 50px;
    padding: 20px;
    border-radius: 20px;
}
.left-div{
    margin:auto;
    padding: 15px;
}
.description-div{
    margin: 20px 50px;
}
.icon-image{
    width: 60%;
}
.socialIcon-div{
    margin: 10px auto 20px auto;
}
.icons{
    margin-right: 5px;
}


@media only screen and (min-width: 480px) {
    .leagueInfoDiv{
        margin: 10px 80px 40px 80px; 
    }
  }