*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}
.League-info-div{
    background : #f8f9fa;
}
.details-header-img{
    height: 60%;
    margin: auto;
}
.leagueDetailsHeader{
    background: url("../../Photo/beautiful-stadium-photo-wallpaper.jpg");
    height: 400px;
    margin-bottom: 50px;
    background-position: center;
}
.gender-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.clubinfo-div{
    color: white;
    background-color: #3a42ff;
    margin: 0px 50px;
    padding: 20px;
    border-radius: 20px;
}
.left-div{
    margin:auto;
    padding: 15px;
}
.description-div{
    margin: 20px 50px;
}
.icon-image{
    width: 60%;
}
.socialIcon-div{
    margin: 10px auto 0px auto;
}
.icons{
    margin-right: 5px;
}


@media only screen and (min-width: 480px) {
    .leagueInfoDiv{
        margin: 10px 80px 40px 80px; 
    }
  }

.youtube-icon{
    color: red;
}
.social-icon{
    font-size: 40px;
}