*{
    margin: 0px;
    padding: 0px;
}
.card{
    margin: 18px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.league-img{
    width: 70%;
    margin: 40px;
}
