.leagues-div{
    width: 70%;
    margin: auto;
    
}
.home-div{
    background : #f8f9fa;
}
.header-title{
    margin: auto;
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    
    
}
.homeHeader{
    background: url("../../Photo/beautiful-stadium-photo-wallpaper.jpg");
    height: 400px;
    margin-bottom: 50px;
    background-position: center;
    
}
/* .homeHeader{
    background: url("../../Photo/Rectangle\ 21.png");
    
    height: 400px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    
} */
/* linear-gradient(0deg, rgba(243, 244, 247, 0.3), rgba(250, 250, 252, 0.3)), u */